@import '~antd/dist/antd.css';

:root {
    --headerColor:#7cbceb;
    --bodyColor:#F5F5F5;
    --todoColor:#1790ff;
    --doingColor:#faad15;
    --doneColor:#52c41a;
}

.main,body{
    background-color: var(--bodyColor);
}
.container{
    width: 100%;
    max-width: 800px;
    margin: auto;
    height: 100%;
}

.header,.footer{
    color: var(--bodyColor);
    background-color: var(--headerColor);
}
.logo {
    line-height: 31px;
    margin: 16px 28px 16px 0;
    float: right;
    text-align: right;
    cursor: pointer;
    font-size: 20px;
  }
.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
    & a{
        color: var(--bodyColor);
        text-decoration: underline;
    }
}


