:root {
  --headerColor: #7cbceb;
  --bodyColor: #f5f5f5;
  --todoColor: #1790ff;
  --doingColor: #faad15;
  --doneColor: #52c41a;
}

.ant-btn-primary {
  background-color: var(--headerColor);
  border-color: var(--headerColor);
}
